### Step One: install mysql-connector-python

In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from mysql-connector-python) (4.21.12)

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: pip install --upgrade pip

### Import the connector under the alias connector

In [10]:
import mysql.connector as connector

### Connect to the database

In [11]:
connection = connector.connect(
    user= 'root',
    password= 'password',
    database='LittleLemonDM'
)

print('Connected successfuly')
print('Current database is:', connection.database)

cursor = connection.cursor()
print('Cursor create.')

Connected successfuly
Current database is: littlelemondm
Cursor create.

### Show tables

In [5]:
show_tables_query = 'SHOW TABLES' 
cursor.execute(show_tables_query)

rows = cursor.fetchall()
print('Tables Names \n')
for row in rows:
    print(row[0])

Tables Names

Bookings
Customers
Menu
Orders
OrdersItems
OrderStatus
ordersview
Staff
Tables

### Query with table JOIN

In [20]:
query_customer_wt_orders_gte_30 = '''
SELECT
    Customers.CustomerID AS CustomerID,
    Customers.Name AS CustomerName,
    Customers.PhoneNumber AS PhoneNumber,
    SUM(Menu.Price) AS Cost
FROM OrdersItems
INNER JOIN Menu ON OrdersItems.ItemID = Menu.ItemID
INNER JOIN Orders ON OrdersItems.OrderID = Orders.OrderID
INNER JOIN Customers ON Orders.CustomerID = Customers.CustomerID
GROUP BY OrdersItems.OrderID
HAVING Cost > 30
ORDER BY Cost DESC
'''

cursor.execute(query_customer_wt_orders_gte_30)
results = cursor.fetchall()

print('Customers with order over GBP 30.\n')
for customer in results:
    print(f'Customer ID: {customer[0]}')
    print(f'Name: {customer[1]}')
    print(f'Phone Number: {customer[2]}')
    print(f'Order Total: {customer[3]}\n')

Customers with order over GBP 30.

Customer ID: 238
Name: Lewes Devonish
Phone Number: 869-627-5324
Order Total: 37.85

Customer ID: 41
Name: Saxon Guillot
Phone Number: 608-323-9262
Order Total: 36.85

Customer ID: 281
Name: Mariel De Domenicis
Phone Number: 444-347-8788
Order Total: 35.89

Customer ID: 261
Name: Gates Woodroff
Phone Number: 400-630-3278
Order Total: 35.65

Customer ID: 134
Name: Alaric Satterlee
Phone Number: 756-946-9906
Order Total: 34.85

Customer ID: 183
Name: Holt De Bruijne
Phone Number: 386-467-1872
Order Total: 33.93

Customer ID: 6
Name: Marilee Hambelton
Phone Number: None
Order Total: 33.89

Customer ID: 445
Name: Franky Gothrup
Phone Number: 346-687-4741
Order Total: 33.89

Customer ID: 442
Name: Aviva Custed
Phone Number: None
Order Total: 33.85

Customer ID: 50
Name: Karlyn Nangle
Phone Number: 294-448-0575
Order Total: 33.65

Customer ID: 426
Name: Jacquie Heinsh
Phone Number: 318-110-0734
Order Total: 33.65

Customer ID: 465
Name: Valenka Grindell
Phone Number: 608-983-8562
Order Total: 33.35

Customer ID: 302
Name: Elyssa Lovat
Phone Number: 706-725-4061
Order Total: 32.89

Customer ID: 332
Name: Merna Birkbeck
Phone Number: None
Order Total: 32.89

Customer ID: 67
Name: Annette Lyness
Phone Number: 442-354-4346
Order Total: 32.85

Customer ID: 408
Name: Robin Code
Phone Number: 356-636-6326
Order Total: 32.85

Customer ID: 369
Name: Bellina Derkes
Phone Number: None
Order Total: 32.40

Customer ID: 268
Name: Alastair Battabee
Phone Number: 514-846-4312
Order Total: 31.89

Customer ID: 9
Name: Bruis Jenkinson
Phone Number: 825-487-6980
Order Total: 31.69

Customer ID: 19
Name: Bobby Alvarado
Phone Number: 882-209-9988
Order Total: 31.65

Customer ID: 313
Name: Neall Iacabucci
Phone Number: 754-895-7882
Order Total: 31.65

Customer ID: 56
Name: Mandie Gransden
Phone Number: 371-887-7992
Order Total: 30.90

Customer ID: 154
Name: Nikki felip
Phone Number: 395-660-9958
Order Total: 30.69

Customer ID: 33
Name: Joyous Dickerson
Phone Number: 597-222-7453
Order Total: 30.65

Customer ID: 239
Name: Donny Semor
Phone Number: 813-599-5965
Order Total: 30.65

Customer ID: 326
Name: Zacharias Crossan
Phone Number: None
Order Total: 30.65

Customer ID: 302
Name: Elyssa Lovat
Phone Number: 706-725-4061
Order Total: 30.45

Customer ID: 467
Name: Stavros McMichell
Phone Number: 670-583-4990
Order Total: 30.40

Customer ID: 122
Name: Judah Prout
Phone Number: 825-312-2757
Order Total: 30.15

Customer ID: 47
Name: Layla Stainton
Phone Number: None
Order Total: 30.15

Customer ID: 276
Name: Chauncey Alu
Phone Number: None
Order Total: 30.15

Customer ID: 9
Name: Bruis Jenkinson
Phone Number: 825-487-6980
Order Total: 30.15

## Close the cursor and connection

In [7]:
cursor.close()
print('Cursor closed')
connection.close()
print('Connection closed')

Cursor closed
Connection closed